<script id="detail_text_tmpl" type="text/html">
	<div class="detail_title">{{title}}</div>
	<div class="detail_description">{{description}}</div>
	<div class="detail_route">{{route}}</div>
</script>
<!-- Some example templates -->
<!-- 	
<script id="detail_text_video_tmpl" type="text/html">
	<div class="detail_title">{{title}}</div>
	<div class="detail_description">{{description}}</div>
	<div class="detail_route">{{route}}</div>
</script>
<script id="detail_text_video_slideshow_tmpl" type="text/html">
	<div class="detail_title">{{title}}</div>
	<div class="detail_description">{{description}}</div>
	<div class="detail_route">{{route}}</div>
</script>
-->